/**reset**/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


ul{
    list-style: none;
}

img{
    max-width: 100%;
}
/**container**/
.container{
    white:80%;
    max-width: 1100px;
    margin: 0 auto;
}


.background-header{
    background-color: orange;
}




/**thypografi**/
.text-white{
    color: white;
}

.font-header{
    font-size: 1.2rem;
    font-weight: .7rem;
}





/**flex utility**/
.row{
    display: flex;
}

.fwrap{
    flex-wrap: wrap;
}

.just-sbt{
    justify-content: space-between;
}

.al-it-cent{
    align-items: center;
}

.gap-10{
    gap:10px
}

.row-gap{
    row-gap: 20px;
}

.card-size{
    width:30%;
}


/**position-utility**/

.head-position{
    position: fixed;
    z-index: 999999;
    width: 100%;
}


.heart{
    position: absolute;
    background-color: white;
    padding: 5px 5px;
    z-index: 10;
    top: 10px;
    right: 0px;
}

.discount{
    background-color: red;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 10;
}

.sos{
    background-color: green;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 10;
}


.card-position{
    position: relative;
}

/**utility**/

.padding-header{
    padding: 10px;
}

.padding-main{
    padding-top: 150px;
}

.width-30{
    width: 200px;
}